extends layout

block content

    .page-header
        h3 Corpus

    #accordion
        each document, index in corpus
            .card
                .card-header(id=`heading${index}`)
                    h5.mb-0
                        button.btn.btn-link(data-toggle='collapse', data-target=`#collapse${index}`, aria-expanded='false', aria-controls=`collapse${index}`)
                            | #{document.title}
                .collapse.show(id=`collapse${index}`, aria-labelledby=`heading${index}`, data-parent='#accordion')
                    .card-body #{document.text}
    h4 Add Document
    form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label(class='col-sm-2 control-label', for='title') Title
            .col-sm-8
                input.form-control(type='text', name='title', id='title', autofocus=true)
        .form-group
            label(class='col-sm-2 control-label', for='text') Text
            .col-sm-8
                input.form-control(type='text', name='text', id='text', autofocus=false)
        .form-group
            .col-sm-offset-2.col-sm-8
                button.btn.btn-primary(type='submit')
                    i.fa.fa-envelope
                    | Send