extends layout

block content
    .main-content
        h3.main-title Summary
        hr
        if summary
            if summary.speakers
                h2.main-title Candidate Term TFIDF Summary
                p #{summary.speakers} discussed #{summary.ctTFUIDFSummary}
            else
                p #{summary.ctTFUIDFSummary}
            table.table.table-striped.table-hover
                tr
                    th Keyphrase
                    th Type
                    th Score
                for term in summary.ctTFUIDFRankedTerms
                    tr
                        td #{term.term.term}
                        td #{term.term.type}
                        td #{term.finalScore.toPrecision(2)}
            hr
            if summary.speakers
                h2.main-title Candidate Term and Named Entity Weighted Semantic Evaluation
                p #{summary.speakers} discussed #{summary.npAndNERSummary}
            else
                p #{summary.npAndNERSummary}
            table.table.table-striped.table-hover
                tr
                    th Keyphrase
                    th Type
                    th Score
                for term in summary.npAndNERRankedTerms
                    tr
                        td #{term.term.term}
                        td #{term.term.type}
                        td #{term.finalScore.toPrecision(2)}
